header {
    margin-left: 10%;
    width: 80%;
    
}

.navbar{
    margin-top: 2%;
    width: 100%;    
}

.btn{
    margin-top: 3%;
    float: right;
    color: white;
    border-radius: 15 15 15 15;
    font-weight: bolder;
    background-color: #891B58;
    border-color: #891B58;    
}

.btn:hover{
    margin-top: 3%;
    float: right;
    color:#891B58;
    border-radius: 15 15 15 15;
    font-weight: bolder;
    background-color: black;
    border-color: white;
}

.btn:focus{
    margin-top: 3%;
    float: right;
    color: #891B58;
    border-radius: 15 15 15 15;
    font-weight: bolder;
    background-color: black;
    border-color: black;
}
.navbar-brand{
    
    padding: 0%;
    zoom: 200%;
}

.nav{
    margin-top: -3%; 
    float: left;
}

.nav ul li{
    
    margin: 15% 0px 0px 10px;
    list-style: none;
    display: inline-flex;
    clear: none;
}


a:link, a:visited {
    color: black;
    font: bold 120% caption;
    text-decoration: none;    
    display:inline-block;    
    text-align: center;
}

a:hover {
    color: #891B58;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

.profile{    
    color: white;   
    padding: 70px 30px;
    clear: both;    
}

.logo{
    width: 100px;
    height: 100px;
    position: relative;
    top: -50px;
    left: calc(50% - 50px);
}

p{
    color: black;
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

section{
    text-align: center;
}
